# ==========================
# Google Cloud
# ==========================

GCP_PROJECT_ID=fiap-tech-challenge-tonylima
GCP_DATASET=

# ==========================
# AWS
# ==========================

AWS_REGION=us-east-1
AWS_BUCKET=fiap-postech-challenge-fase2

# ==========================
# Pipeline
# ==========================

PIPELINE_ENV=dev